.container{
    padding: 0;
}

.footer-wrapper{
    width: 100%;
    background: linear-gradient(10deg, #f8f4e3 0%, #e7d8c1 40%, #ffffff 90%);
    border-top: 1px solid black;
}

.footer-content{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    gap: 2rem;
    margin-top: 30px;
}

.footer-links,
.footer-socials{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.footer-links a{
    text-decoration: none;
    color: inherit;
}

.footer-links p{
    position: relative;
    display: inline-block;
}

.footer-links p::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0;
    background-color: #a1866f;
    transition: width 0.3s ease-in-out;
}

.footer-links p:hover::after{
    width: 100%;
}

.social{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

@media (max-width: 768px){
    .footer-content{
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 30px;
    }
}