.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    padding-top: 20px;
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    padding: 1rem 2rem;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05); 
}

.navbar{
    display: flex;
}

.navlist{
    display: flex;
    list-style: none;
    gap: 30px;
    font-size: 18px;
    padding-top: 3%;
    font-size: 20px;
}