.menu-wrapper{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 0 auto;
    margin: 60px 0;
}

.menu-card{
    width: 100%;
    max-width: 286px;
    min-height: 180px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
    border-radius: 8px;
    overflow: hidden;
    text-align: center;
    font-size: 17px;
    transition: transform 0.3s ease;
}

.menu-card h5{
    font-size: 20px;
    padding: 10px 0 10px 0;
}

.menu-card img{
    width: 100%;
    height: 230px;
    object-fit: cover;
}

.menu-card:hover{
    transform: scale(1.03);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
}

.interior-wrapper{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border-bottom: 1px solid #a1866f;
    box-shadow: 0px 3px 2px -2px #a1866f;
}

.interior img{
    width: 100%;
    max-width: 1100px;
    height: auto;
    object-fit: cover;
    margin: 50px 0 50px 0;
}

@media(max-width: 768px){
    .interior img{
        max-width: 100%;
        padding: 0 16px;
    }

    .menu-card{
        margin: 0 0 50px 0;
    }
}

@media(max-width: 425px){

    .header{
        font-size: 15px;
    }

    .intro-image img{
       max-width: fit-content;
    }
}